.git
.gitignore
.env
.env.example
.github
.pytest_cache
.ruff_cache
.mypy_cache
.venv
venv/
__pycache__
*.pyc
*.pyo
*.pyd
*.log
logs/
notebooks/*.ipynb
tests/
htmlcov/
.coverage
*.egg-info/
dist/
build/
README.md
docker-compose.yml
compose/
